<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>

</head>
<body>

<!--<div class="cards" th:each="img : ${imgList}">-->
<!--    <div class="col-md-4 col-sm-6 col-lg-3">-->
<!--        <div class="card"><img th:src="${img.getImgUrl()}" width="400px" height="200px" class="img-rounded" alt="暂无图片"></div>-->
<!--        <hr/>-->
<!--    </div>-->

<!--</div>-->



<script type="text/javascript" src="../js/index.js"></script>

<!--<footer class="foot">-->
<!--    <p>@2021-2022 | BY:Roydon</p>-->
<!--    <p>网页版权归Roydon所有</p>-->
<!--    <p>Man who has a settled purpose will surely succeed</p>-->
<!--</footer>-->
</body>


</html>
