<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.10.0/css/zui.min.css">
    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="//cdn.bootcss.com/zui/1.10.0/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/zui/1.10.0/js/zui.min.js"></script>
    <title>博客系统</title>
    <!-- 引入字体图标库 -->
    <link rel="stylesheet" href="../fonts/css/font-awesome.css">
    <link rel="stylesheet" href="../css/indexright.css">
    <!-- 这个案例用到的是vue的语法 -->
    <script src="../js/vue.min.js"></script>
    <!-- 引入字体图标库 -->
    <!--    <link rel="stylesheet" href="../fonts/css/font-awesome.css">-->
    <!--    <link rel="stylesheet" href="../css/indexright.css">-->
    <!--    &lt;!&ndash; 这个案例用到的是vue的语法 &ndash;&gt;-->
    <!--    <script src="../js/vue.min.js"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>-->

    <!--    基于layui前端框架添加maven文件即可，再引入下面2个相关链接-->
    <!--    <link rel="stylesheet" th:href="@{/webjars/layui/2.6.8/css/layui.css}">-->
    <!--    <script th:src="@{/webjars/layui/2.6.8/layui.js}"></script>-->

</head>
<body>

<!--导航-->
<nav class="navbar navbar-collapse" role="navigation">
    <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
            <a th:href="@{/}"><img th:width="40px" th:high="40px" src="../img/hutao_hai.gif" alt="Blog"/></a>
        </div>
        <!-- 导航项目 -->
        <div class="collapse navbar-collapse navbar-collapse-example">
            <ul class="nav nav-tabs">
                <li class="active  hvr-grow-shadow"><a th:href="@{/}"><i class="icon icon-home"></i>首页</a></li>
                <li class="hvr-grow-shadow"><a th:href="@{/article/allarticle}"><i class="icon icon-list-alt"></i>博客
                    <span class="label label-badge label-success hvr-grow-shadow"></span></a></li>
                <li class="hvr-grow-shadow"><a th:href="@{/article/dynamic}">动态 <span
                        class=" label label-badge label-success"></span></a></li>
                <li class="hvr-grow-shadow"><a th:href="@{/album/allAlbum}">空间相册 <span
                        class="label label-badge label-success "></span></a></li>
                <li class="hvr-grow-shadow"><a href="https://www.openzui.com/">前端库 <span
                        class="label label-badge label-success  "></span></a></li>
                <li class="nav-li">
                    <a data-toggle="dropdown" href="">更多<i class="icon icon-list-ul"><span class="caret"></span></i></a>
                    <ul class="dropdown-menu dorp-box">
                        <li><a href="your/nice/url">任务</a></li>
                        <li><a href="your/nice/url">bug</a></li>
                        <li><a href="your/nice/url">问题</a></li>
                        <li><a th:href="@{/page/leimu}">蕾姆🥰</a></li>
                    </ul>
                </li>
                <li class="hvr-grow-shadow"><a target="_blank" href="https://blog.csdn.net/m0_51390535?type=blog"><i
                        class="icon icon-gift"></i>请Roydon喝奶茶 <span class="label label-badge label-success"></span></a>
                </li>
                </li><!-- 导航中的表单 -->
                <form class="navbar-form navbar-left" role="search" th:action="@{/article/querylike}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索" name="title">
                    </div>
                    <button type="submit" class="btn btn-default hvr-grow-shadow">搜索博文</button>
                </form>
                <!-- 右侧的导航项目 -->
                <ul class="nav navbar-nav navbar-right">
                    <template v-else></template>
                    <li class="hvr-grow-shadow" th:if="${now_user}==null"><a th:href="@{/page/login}"><i
                            class="icon icon-user"></i>登录</a></li>
                    <li th:if="${now_user}!=null" class="nav-li" style="align-items: center">
                        <img th:src="${now_user.getHeadPortrait()}" width="37px" height="37px"
                             class="hvr-grow-shadow dropdown img-circle" data-toggle="dropdown">
                        <span class="caret"></span></img>
                        <ul class="dropdown-menu dorp-box">
                            <li><a target="_blank" th:href="@{/user/details(userId=${now_user.getId()})}"><i
                                    class="icon icon-user"></i>个人中心</a></li>
                            <li><a target="_blank" th:href="@{/article/myArticle}">我的vlog</a></li>
                            <li><a target="_blank" th:href="@{/page/addAlbum}">创建相册</a></li>
                            <li><a target="_blank" th:href="@{/album/myAlbum}">我的相册</a></li>
                            <li class="divider"></li>
                            <li class="hvr-grow-shadow"><a th:href="@{/}">退出登录</a></li>
                        </ul>
                    </li>

                    <li class="nav-li">
                        <a href="" data-toggle="dropdown">探索 <span class="caret"></span></a>
                        <ul class="dropdown-menu dorp-box">
                            <li><a href="your/nice/url">Java</a></li>
                            <li><a href="your/nice/url">SpringBoot</a></li>
                            <li><a href="your/nice/url">python</a></li>
                            <li><a href="your/nice/url">HTML5</a></li>
                            <li><a href="your/nice/url">css3</a></li>
                            <li><a href="your/nice/url">Javascript</a></li>
                            <li class="divider"></li>
                            <li class="hvr-grow-shadow"><a href="your/nice/url">探索宇宙</a></li>
                        </ul>
                    </li>
                    <li class="hvr-grow-shadow" style="background-color: hotpink">
                        <a th:if="${now_user}!=null" target="_blank" th:href="@{/article/toeditor}">写文章=></a>
                    </li>
                    <li><a th:if="${now_user}==null" th:href="@{/article/toeditor}" onclick="alert('🙌请先登录哦')">写文章=></a>
                    </li>

                </ul>
            </ul>
        </div><!-- END .navbar-collapse -->
    </div>
</nav>
<div class="slide-box" style="height: 220px">
    <div class="banner-box"></div>
    <button class="slide-left-btn material-icons">arrow_back_ios</button>
    <button class="slide-right-btn material-icons">arrow_forward_ios</button>
    <div class="pagination-box"></div>
</div>

<!-- 三栏-浮动布局 -->
<div class="wrapper">
    <div class="left">
        <div class="containerr" id="app" @mouseover="stopAutoPlay" @mouseout="startAutoPlay">
            <div class="img-boxx">
                <a :href="list[active_index].url"><img :src="item.image" alt="" v-for="item in list"></a>
            </div>
            <div class="bottom-boxx" :style="{'--b-color':list[0].bottom_color}">
                <div class="l-boxx">
                    <a :href="list[active_index].url">
                        <div class="titlex">{{list[active_index].title}}</div>
                    </a>
                    <ul class="dots">
                        <li :class="[index==active_index?'pacman':'dot',is_prev?'l':'']"
                            v-for="(item,index) in list" @click="changeBanner(index)">
                            <!-- 吃豆人 -->
                            <div v-if="index==active_index"></div>
                            <div v-if="index==active_index"></div>
                        </li>
                    </ul>
                </div>
                <div class="r-boxx">
                    <i class="fa fa-angle-left" @click="changeBanner(-1,true)"></i>
                    <i class="fa fa-angle-right" @click="changeBanner(-1,false)"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <h3>广告位招租</h3>

    </div>
    <div class="content">
        <h3 >📰热门文章</h3>
        <div th:each="fire : ${fireArticles}">
            <hr/>
            <div>
                <a class="pull-left" target="_blank" th:href="@{/article/detail(id=${fire.getArticleId()})}">
                    <p class="line-limit-length" th:text="${fire.getArticle().getTitle()}"
                       style="color: black;font-size: 17px"></p>
                </a>

                <i class="icon icon-user"></i><a target="_blank" color="#ff69b4"
                                                 style="color: deeppink;margin-right: 0"
                                                 th:href="@{/user/details(userId=${fire.getArticle().getAuthorId()})}"
                                                 th:text="${fire.getUser().getPetName()}"></a>
            </div>
        </div>

    </div>
</div>

<header>
    <script src="https://myhkw.cn/player/js/jquery.min.js" type="text/javascript"></script>
</header>

<script src="https://myhkw.cn/api/player/demo" id="myhk" key="demo" skin="player" lr="l" m="1"></script>
<script type="text/javascript" src="../js/index.js"></script>

<footer class="foot">
    <p>@2021-2022 | BY:Roydon</p>
    <p>网页版权归Roydon所有</p>
    <p>Man who has a settled purpose will surely succeed</p>
</footer>
</body>

<!-- 导入live2d模型的脚本文件 -->
<!--<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>-->


<script>
    window.onload = function () {
        var oBtn = document.querySelector(".nav-li"); //获取一级菜单元素
        oBtn.onmouseover = function () {
            // this.style.display="none";
            this.querySelector('.dorp-box').style.display = "block"
            //给二级菜单添加阴影
            this.querySelector('.dorp-box').style.boxShadow = " 0 2px 2px gray"
        }
        //鼠标出
        oBtn.onmouseout = function () {
            this.querySelector('.dorp-box').style.display = "none"
            this.querySelector('.dorp-box').style.boxShadow = 'none'
        }

    }


    // function getMyCookie(key) {
    //     var val = "";
    //     // 对cookie操作
    //     var cookies = document.cookie;
    //     cookies = cookies.replace(/\s/, "");
    //     var cookie_array = cookies.split(";");
    //
    //     for (i = 0; i < cookie_array.length; i++) {
    //         // yh_mch=lilei
    //         var cookie = cookie_array[i];
    //
    //         if (cookie == key) {
    //             val = cookie.split("-")[0];
    //             // console.log(cookie)
    //             // console.log(val)
    //         }
    //     }
    //     return val;
    // }
    //
    // $.ajax({
    //     url: "/login",
    //     async: false,
    //     type: "get",
    //     dataType: "json",
    //     success: function (data) {
    //         const yh_mch = getMyCookie("nowLoginUser"); //cookies中对象名
    //         $("#index-login").text(decodeURIComponent(yh_mch));
    //     }
    // })
    // L2Dwidget.init({
    //     // 引用的模型
    //     "model": {
    //         jsonPath: "https://unpkg.com/live2d-widget-model-chitose@1.0.5/assets/chitose.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-hibiki@1.0.5/assets/hibiki.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-hijiki@1.0.5/assets/hijiki.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-izumi@1.0.5/assets/izumi.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-ni-j@1.0.5/assets/ni-j.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-tororo@1.0.5/assets/tororo.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-tsumiki@1.0.5/assets/tsumiki.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-unitychan@1.0.5/assets/unitychan.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-z16@1.0.5/assets/z16.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-nico@1.0.5/assets/nico.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-nipsilon@1.0.5/assets/nipsilon.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-nito@1.0.5/assets/nito.model.json",
    //         // jsonPath: "https://unpkg.com/live2d-widget-model-wanko@1.0.5/assets/wanko.model.json",
    //
    //         "scale": 1
    //     },
    //     // 模型的样式，可以自行更改
    //     "display": {
    //         "position": "right",
    //         "width": 150,
    //         "height": 300,
    //         "hOffset": 0,
    //         "vOffset": -20
    //     },
    //     "mobile": {
    //         "show": true,
    //         "scale": 0.5
    //     },
    //     "react": {
    //         "opacityDefault": 1,
    //         "opacityOnHover": 0.2
    //     }
    // });
</script>

</html>
<!--//雷姆开关-->
<link rel="stylesheet" href="../css/live2d.css"/>

<div id="landlord" style="right:5px;bottom:0px;">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="500" height="560" class="live2d"></canvas>
    <div class="live_talk_input_body">
        <div class="live_talk_input_name_body">
            <input name="name" type="text" class="live_talk_name white_input" id="AIuserName" autocomplete="off"
                   placeholder="你的名字"/>
        </div>
        <div class="live_talk_input_text_body">
            <input name="talk" type="text" class="live_talk_talk white_input" id="AIuserText" autocomplete="off"
                   placeholder="要和我聊什么呀？"/>
            <button type="button" class="live_talk_send_btn" id="talk_send">发送</button>
        </div>
    </div>
    <input name="live_talk" id="live_talk" value="1" type="hidden"/>
    <div class="live_ico_box">
        <div class="live_ico_item type_info" id="showInfoBtn"></div>
        <div class="live_ico_item type_talk" id="showTalkBtn"></div>
        <div class="live_ico_item type_music" id="musicButton"></div>
        <div class="live_ico_item type_youdu" id="youduButton"></div>
        <div class="live_ico_item type_quit" id="hideButton"></div>
        <input name="live_statu_val" id="live_statu_val" value="0" type="hidden"/>
        <audio src="" style="display:none;" id="live2d_bgm" data-bgm="0" preload="none"></audio>
        <input name="live2dBGM" value="音乐地址" type="hidden">
        <input id="duType" value="douqilai,l2d_caihong" type="hidden">
    </div>
</div>
<div id="open_live2d">召唤蕾姆</div>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
    var message_Path = '/live2d/';//资源目录，如果目录不对请更改
    var talkAPI = "123";//如果有类似图灵机器人的聊天接口请填写接口路径（注意这里填写的是接口，没有可空着，页面上就不会显示对话按钮）
</script>
<script type="text/javascript" src="../js/live2d.js"></script>
<script type="text/javascript" src="../js/message.js"></script>
<script src="../js/indexright.js"></script>

